.profil-form {
    width: 500px; 
    height: 600px; 
    padding: 20px; 
    margin: 0 auto; 
    border-radius: 5px;
    position: relative;
    background: black;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
}

.group {
    margin-bottom: 15px;
}

.label {
    color: #aaa;
    font-size: 12px;
}

.profil-form .group .label,
.profil-form .group .input,
.profil-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.profil-form .group .input,
.profil-form .group .button{
	cursor: pointer;
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:#aaa;
}

.map {
    height: 150px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
.profil-form .group .label{
	color:#4E9263;
  font-weight: bold;
	font-size:20px;
}
.profil-form .group .button{
	background:#4E9263;
}
.profil-form .group label .icon{
	margin-left:200px;
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.profil-form .group label .icon:before,
.profil-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}

.profil-form .group .check:checked + label{
	color:#fff;
}
.profil-form .group .check:checked + label .icon{
	background:#4E9263;
}
.profil-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.profil-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.group button {
    margin-left: 150px;
    padding: 10px 35px;
    background-color: #2eb078f7;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .group button:hover {
    /* Style au survol */
    background-color: #4E9263;
  }